**/__pycache__/*

# PyInstaller
dist/
build/FadCat-*/
*.pkg
*.dmg
*.exe
*.deb
*.egg-info/

# Exception: Keep bundled ADB binaries
!build/platform-tools/**/*.exe
!build/platform-tools/**/adb

# IDE
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store
fadcat_settings.json
build/.deb_root/*
